* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: black;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
}

h1 {
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 50px;
}

#player1-score {
    position: relative;
    right: -500px;
    bottom: 6px;
}

#player2-score {
    position: relative;
    right: -1000px;
    top: -70px;
}

button {
    width: 300px;
    height: 70px;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

#gameOver {
    position: absolute;
    right: 710px;
    bottom: 350px;
    background-color: lightskyblue;
    width: 500px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    z-index: 1;
}

#restart-h1 {
    color: rgb(39, 144, 230);
    margin-top: 10px;

}

