* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
}

h1 {
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 50px;
}

#player1-score {
    position: relative;
    right: -550px;
    bottom: -7px;
}

#player2-score {
    position: relative;
    right: -1070px;
    top: -50px;
}